.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.info {
  display: flex;
}

.infoItem {
  display: flex;
  padding: 1rem;
}

.infoItem p {
  margin-left: 0.5rem;
}

@media (max-width: 700px) { 
  .logo {
    width: 300px;
  }

  .info {
    flex-direction: column;
  }

  .infoItem {
    padding: 0.5rem;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
